
// Language selector
.site-lang {
    float: right;
    min-height: $base-line-height * $base-font-size * 1.5;
  }

// Image Gallery
.image-gallery {
    overflow: auto;
    margin-left: -1%!important;
}

.image-gallery li {
    float: left;
    display: block;
    margin: 0 0 1% 1%;
    width: 19%;
    @include media-query($on-palm) {
        width: 49%;
    }
}

.image-gallery li a {
    text-align: center;
    text-decoration: none!important;
    color: #777;
}

.image-gallery li a span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px 0;
}

.image-gallery li a img {
    width: 100%;
    display: block;
}

// Image Gallery 3
.image-gallery3{
    overflow: auto;
    margin-left: -1%!important;
}

.image-gallery3 li {
    float: left;
    display: block;
    margin: 0 0 1% 1%;
    width: 32%;
    @include media-query($on-palm) {
        width: 49%;
    }
}

.image-gallery3 li a {
    text-align: center;
    text-decoration: none!important;
    color: #777;
}
.image-gallery3 li a span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px 0;
}
.image-gallery3 li a img {
    width: 100%;
    display: block;
}

// Image Gallery 4
.image-gallery4{
    overflow: auto;
    margin-left: -1%!important;
}

.image-gallery4 li {
    float: left;
    display: block;
    margin: 0 0 1% 1%;
    width: 24%;
    @include media-query($on-palm) {
        width: 49%;
    }
}

.image-gallery4 li a {
    text-align: center;
    text-decoration: none!important;
    color: #777;
}

.image-gallery4 li a span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px 0;
}

.image-gallery4 li a img {
    width: 100%;
    display: block;
}


// Posts
.right {
    text-align: right;
}

// Images in posts
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.half-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

// two images
.half-image {
    float: left;
    width: 49%;
}

// Time Stamp in CV
.left_time_stamp {
    position: relative;
    left: -150px;
    bottom: -42px;
    @include media-query($on-monitor) {
        text-align: right;
        left: 0px;
    }
}

h2 {
    font-size: xx-large
}